.start{
    background-image: url('../../assets/img/start.svg');
}

.delete{
    background-image: url('../../assets/img/delete.svg');
}

.done{
    background-image: url('../../assets/img/done_dark.svg');
}

.pause{
    background-image: url('../../assets/img/pause.svg');
}

.play{
    background-image: url('../../assets/img/play.svg');
}