.hover{
  transition: .2s;

  &:hover{
    opacity: .8;
  }
}

.btn {
    align-self: center;
    background-color: #88bcd1;
    border-radius: 5px;
    box-shadow: 2px 4px 4px #0000009F;
    color: #272626;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 12px;
    width: 160px;
    text-transform: uppercase;
    margin-top: .5em;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    @extend .hover;
    
    &:active {
      background-color: #7CA6B7;
      box-shadow: 2px 2px 4px #0000009F inset;
    }

    &:disabled{
      opacity: .5;
      cursor: default;
    }

    .icon{
      display: inline-block;
      width: 22px;
      height: 22px;
      margin: auto 5px !important;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media screen and (max-width: 500px) {
        width: 17px;
        height: 17px;
      }

    }

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 7px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .btn {
      grid-column-start: span 2;
      justify-self: center;
    }
  }