.hover{
  transition: .2s;

  &:hover{
    opacity: .8;
  }
}

.btn {
    align-self: center;
    background-color: #88bcd1;
    border-radius: 5px;
    box-shadow: 2px 4px 4px #0000009F;
    color: #272626;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 12px;
    width: 150px;
    text-transform: uppercase;
    margin-top: .5em;
    @extend .hover;
    
    &:active {
      background-color: #7CA6B7;
      box-shadow: 2px 2px 4px #0000009F inset;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .btn {
      grid-column-start: span 2;
      justify-self: center;
    }
  }