.task_info{
    width: 45% !important;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center !important;

    h3{
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        
        &::after{
            content: '';
            height: 3px;
            border-radius: 5px;
            width: 30%;
            display: block;
            background: #7CA6B7;
            margin: auto;
            margin-top: 10px;
        }
    }

    label, span{
        font-size: 1rem;
        line-height: 2rem;
        height: fit-content;
    }

    span{
        margin: 0 !important;
        font-weight: 200;
    }

    p{
        font-size: 1rem;
        text-align: center;
        color: rgba(208, 208, 208, 0.6666666667);
    }

    div{
        justify-content: flex-start;
        gap: 5px;
    }
}