h2 {
  font-size: 2em;
  text-transform: uppercase;
}

span {
  color: #d0d0d0aa;
  font-size: .8em;
  font-family: 'Fira Sans';
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  line-height: normal;
}

.tasks {
  grid-area: tarefas;
    height: 100%;
  
    ul {
      max-height: 350px;
      overflow-y: scroll;
        scrollbar-width: thin;
    }
  
    @media screen and (min-width:1280px) {  
      ul {
        overflow: auto;
        max-height: 500px;
      }
    }
  }

  input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(100%);
  }
  
  .item {
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #0000009F;
    padding: 12px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    transition: .2s;

    &:hover{
      opacity: .8;
    }
  
    h3 {
      margin-bottom: 4px;
      word-break: break-all;
    }

    span{
      font-size: .65em;
      margin-bottom: 0;
    }
  
    @media screen and (min-width:1280px) {
      font-size: 1.8rem;
    }
  }
  
  .selected_item {
    background-color: #292929;
    box-shadow: 2px 4px 4px #0000009F inset;
  }
  
  .done_item {
    background-color: #333;
    opacity: .5;
    cursor: auto;
  
    .done {
      display: block;
      background-image: url('../../assets/img/done.svg');
      background-repeat: no-repeat;
      background-size: 38px 38px;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 42px;
      height: 43px;
    }

    &:hover{
      opacity: .5;
    }

  }