.wrap_radio{
  position: relative;
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 15px;

  input{
      opacity: 0;
      width: 0;
      margin: 0;

  }

  label{
      padding: 3px 15px;
      border: solid 1px #88bcd1;
      border-radius: 30px;
      transition: .3s;
      display: inline-block;
  }

  input:checked ~ label {
      background-color: #88bcd1;
      color: #000;
  }
}

h2 {
  font-size: 2em;
  text-transform: uppercase;

  span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: auto 5px !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/todo.svg');
  }
}

span {
  color: #d0d0d0aa;
  font-size: .8em;
  font-family: 'Fira Sans';
  font-weight: 400;
  margin-top: 10px;
  display: inline-block;
  line-height: normal;

  &:first-of-type{
    margin-bottom: 20px;
  }

  &:nth-of-type(2){
    margin-bottom: 10px;
  }
}

.tasks {
  grid-area: tarefas;
    height: 100%;
  
    ul {
      max-height: 350px;
      overflow-y: scroll;
        scrollbar-width: thin;
    }
  
    @media screen and (min-width:1280px) {  
      ul {
        overflow: auto;
        max-height: 500px;
      }
    }
  }

  input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(100%);
  }
  
  .item {
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #0000009F;
    padding: 12px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    transition: .2s;

    &:hover{
      opacity: .8;
    }
  
    h3 {
      margin-bottom: 4px;
      word-break: break-all;
    }

    span{
      font-size: .65em;
      margin-bottom: 0;
    }
  
    @media screen and (min-width:1280px) {
      font-size: 1.8rem;
    }
  }
  
  .selected_item {
    background-color: #232d3a;
    box-shadow: 2px 4px 4px #0000009F inset;
  }
  
  .done_item {
    background-color: #333;
    opacity: .5;
    cursor: auto;
  
    .done {
      display: block;
      background-image: url('../../assets/img/done.svg');
      background-repeat: no-repeat;
      background-size: 35px 35px;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 42px;
      height: 30px;
      background-size: contain;
    }

    &:hover{
      opacity: .5;
    }

  }